
 <footer>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3">
                <div class="item d-flex  align-items-center">
                    <img src="../../../../assets/imges/icon-3.png" alt="">
                    <div class="ms-3 ">
                        <h6>Fast & Secure Delivery                    </h6>
                        <p class=" text-muted ">Tell about your service.                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item d-flex  align-items-center">
                    <img src="../../../../assets/imges/icon-2.png" alt="">
                    <div class="ms-3 ">
                        <h6>Fast & Secure Delivery                    </h6>
                        <p class=" text-muted ">Tell about your service.                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item d-flex  align-items-center">
                    <img src="../../../../assets/imges/icon-3.png" alt="">
                    <div class="ms-3 ">
                        <h6>Fast & Secure Delivery                    </h6>
                        <p class=" text-muted ">Tell about your service.                    </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item d-flex  align-items-center">
                    <img src="../../../../assets/imges/icon-2.png" alt="">
                    <div class="ms-3 ">
                        <h6>Fast & Secure Delivery                    </h6>
                        <p class=" text-muted ">Tell about your service.                    </p>
                    </div>
                </div>
            </div>
          
        </div>
        
        <div class="row py-3">
           
                <div class="col-md-3">
                    <div>
                        <ul>
                            <li class=" fw-bold">Support                            </li>
                            <li>685 Market Street,
                                Las Vegas, LA 95820,
                                United States.</li>
                            <li>example@domain.com</li>
                            <li>(+01) 850-315-5862</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <ul >
                            <li class=" fw-bold">My Account                            </li>
                            <li>Login / Register</li>
                            <li>Cart</li>
                            <li>Wishlist</li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <ul >
                            <li class=" fw-bold">Quick Link                            </li>
                            <li>Terms Of Use</li>
                            <li>Terms Of Use</li>
                            <li>FAQ</li>
                            <li>Contact</li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <ul >
                            <li class=" fw-bold">Download App
                            </li>
                            <li>Save $3 With App & New User only
                            </li>
                            <li><img  src="../../../../assets/imges/app-store.png" alt="" srcset=""></li>
                            <li><img  src="../../../../assets/imges/play-store.png" alt="" srcset=""></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" border-top text-center">
            <p class=" text-muted pt-2">© 2022. All rights reserved by Axilthemes.</p>
        </div>
 </footer>
